<%- include('partials/head') %>
<%- include('partials/navbar') %>
<%- include('partials/headlines') %>
<%- include('partials/preloader') %>
<%- include('partials/top') %>

<!-- Searched News -->
<section class="content__wrapper credits" id="content">
  <div class="articles" id="credits">
    <h1>Credits</h1>
    <div class="credit__contents">
      
    </div>
  </div>
</section>

<%- include(`partials/footer`) %>
<%- include(`partials/script`) %>
<%- include('partials/foot') %>
