<%- include('partials/head') %> <%- include('partials/navbar') %> <%-
include('partials/headlines') %> <%- include('partials/preloader') %> <%-
include('partials/top') %>

<!-- Credits -->
<section class="content__wrapper credits" id="content">
  <div class="articles" id="credits">
    <h1>Credits</h1>
    <div class="credit__contents">
      <h2>APIs</h2>
      <div class="credit__container">
        <ul>
          <li>
            <a class="hover__ease" href="https://newsdata.io" target="_blank">NewsData.io</a>
          </li>
          <li>
            <a class="hover__ease" href="https://newsapi.org" target="_blank">NewsAPI.org</a>
          </li>
        </ul>
      </div>
      <h2>Images</h2>
      <div class="credit__container">
        <ul>
          <li>
            <a
              class="hover__ease"
              href="https://www.flaticon.com/premium-icon/news_2353075"
              title="news icons"
              target="_blank"
              >News icons created by Freepik - Flaticon</a
            >
          </li>
          <li>
            <a
              class="hover__ease"
              href="https://www.flaticon.com/premium-icon/github_3291695"
              title="github icons"
              target="_blank"
              >Github icons created by riajulislam - Flaticon</a
            >
          </li>
          <li>
            <a
              class="hover__ease"
              href="https://www.flaticon.com/premium-icon/search_3031293"
              title="search icons"
              target="_blank"
              >Search icons created by Royyan Wijaya - Flaticon</a
            >
          </li>
          <li>
            <a href="https://convertio.co/png-svg/">PNG to SVG Converter - Convertio.co</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<%- include(`partials/footer`) %> <%- include(`partials/script`) %> <%-
include('partials/foot') %>
