<%- include('partials/head') %> 
<%- include('partials/navbar') %> 
<%- include('partials/headlines') %>
<%- include('partials/preloader') %>
<%- include('partials/top') %>

<!-- Searched News -->
<section class="content__wrapper" id="content">
  <div class="articles" id="articles">
    <h1>Search</h1>
    <div class="hero__search--container align__center">
      <form action="/search" class="hero__form align__center" method="POST">
        <input
          class="hero__search--box bg__transparent"
          type="text"
          name="search"
          placeholder="<%- searched %>"
          autofocus
          required
        />
        <button class="hero__search--button bg__transparent" type="submit">
          <img class="magnifying-glass--img" src="images/magnifying-glass.png" alt="submit" />
        </button>
      </form>
    </div>

    <div class="articles__news">
      <% if (articles != null) { %> 
        <% articles.articles.forEach(article => { %> 
          <% if (article.urlToImage != null) { %>
            <div class="article__news--single">
              <a href="<%- article.url %>" class="article__item" target="_blank">
                <img src="<%- article.urlToImage %>" alt="<%- article.title %>" />
                <h2><%- article.title %> </h2>
              <% if (article.content === null || article.content === ``) { %> 
                <p><%- article.description %></p>
                <p class="article__read-more">[<em>read more</em>]</p>
              <% } else { %>
                <p><%- article.content.split("[")[0].replace(/<.*?>/gi, "") %></p>
                <p class="article__read-more">[<em>read more</em>]</p>
              <% } %> 
              </a>
            </div>
          <% } %>
        <% }) %>
      <% } else { %> 
        No post found. 
      <% } %>
    </div>
  </div>
</section>

<%- include(`partials/footer`) %>
<%- include(`partials/script`) %>
<%- include('partials/foot') %>